@import './imports/reset.scss', './imports/mixins.scss',
  './imports/variables.scss';
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.errors {
  color: #ff0000;
  font-weight: bold;
}
.loader {
  width: 100vw;
  height: calc(100vh - 5.5em);
  @include flex(row, nowrap, center, center, 0);
}
.stripe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  backdrop-filter: blur(1em);
  @include flex(row, nowrap, center, center, 0);
  z-index: 500;
  &__div {
    position: relative;
    width: 18em;
    height: 18em;
    background: #fff;
    color: #000;
    border-radius: 0.5em;
    @include flex(column, nowrap, center, center, 0);
  }
  &__p {
    padding: 1.5em;
    width: 100%;
    font-weight: bold;
  }
  &__span {
    display: inline-block;
    align-self: flex-end;
    margin: 0 3em 1.5em 0;
    font-weight: bold;
  }
  &__img {
    width: 5em;
    height: 5em;
  }
}
.spinner {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 1em solid #fff;
  border-bottom-color: #000;
  animation: spinner infinite 2s linear;
}
.btn-top {
  position: fixed;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  opacity: 1;
  transition: 0.5s ease;
  background: transparent;
  @include button-principal();
  padding: 0.4em;
}
.close {
  opacity: 0;
}
.body {
  overflow: hidden;
}
.home {
  &__carruzel {
    display: flex;
    color: #000;
    width: 100%;
    transform: translateX(0);
    gap: 1.2em;
    transition: 0.5s linear;
  }
  &__cards {
    @include flex(column, nowrap, center, center, 1em);
    width: 59em;
    margin: auto;
    box-shadow: inset 0.5em 0.5em 1em #fff;
    border-radius: 0.5em;
    padding: 1em;
    overflow: hidden;
  }
  &__buttons {
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__button {
    position: relative;
    z-index: 5;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    background: #ffffff90;
  }
  &__select {
    background: #fff;
  }

  &__main {
    @include flex(row, wrap, start, center, 0.4em);
    position: relative;
  }
  &__products {
    @include flex(column, nowrap, center, center, 1em);
  }
  &__pages {
    flex-grow: 1;
  }
}
.aside {
  height: 40em;
  @include flex(column, nowrap, start, center, 0);
  position: sticky;
  background: #000;
  padding: 1em 0;
  top: 6em;
  &__container {
  }
}
.filter {
  height: 45em;
  @include flex(column, nowrap, start, center, 0.5em);
  background: #000;
  color: #fff;
  max-width: 20em;
  &__input--price {
    font-size: 1.4em;
  }
  &__div {
    width: 90%;
    @include flex(column, nowrap, center, center, 0.5em);
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 1em;
  }
  &__range {
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__price {
    font-size: 1.2em;
  }
  &__h3 {
    text-align: center;
    font-size: 1.5em;
  }
  &__input {
    width: 8em;
  }
  &__map {
    @include flex(row, nowrap, start, center, 0.5em);
  }
  &__categorys {
    padding: 1em;
    height: 20em;
    overflow: auto;
  }
  &__category {
    width: 9em;
    font-size: 1.3em;
  }
  &__marcas {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2em;
  }
  &__check {
    width: 1.3em;
    height: 1.3em;
    border: none;
    outline: none;
    &:checked {
      width: 1.4em;
      height: 1.4em;
    }
  }
  &__aplique {
    width: 100%;
    @include flex(row, nowrap, center, center, 0);
  }
  &__button {
    @include button-principal();
    background: #fff;
    color: #000;
    border-radius: 0;
  }
}
.order {
  @include flex(column, nowrap, start, center, 0);
  max-width: 20em;
  width: 20em;
  height: 3em;
  position: relative;
  &__container {
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 1em;
    width: 85%;
    @include flex(row, nowrap, space-between, center, 0);
    padding: 0 0.5em;
    position: relative;
    z-index: 20;
  }
  &__div {
    margin: 0 auto;
    color: #fff;
    @include flex(column, nowrap, start, start, 0.5em);
    width: 85%;
    position: absolute;
    top: 3em;
    opacity: 0;
    background: #333;
    visibility: hidden;
    transform: translateY(-15em);
    transition: 0.5s linear;
    z-index: 10;
  }
  &__order {
    width: 100%;
    padding: 0 1em;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
  }
  &__img {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  &__toggle {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
#tsparticles {
  // height: 250vh;
  position: absolute;
  width: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex(column, nowrap, center, center, 0);
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 200;
  &__container {
    width: 20em;
    height: 20em;
    background: #000;
    @include flex(column, nowrap, center, center, 0);
  }
  &__close {
    align-self: flex-end;
    padding: 0 1.6em;
    cursor: pointer;
  }
  &__form {
    @include flex(column, nowrap, center, center, 0.9em);
  }
  &__login {
    @include input-defecto(0.4em, 0.8em, 15em);
    border-radius: 0;
  }
  &__acount {
    @include flex(row, nowrap, space-between, center, 0.5em);
  }
  &__link {
    font-size: 1.1em;
    transition: 0.5s ease;
    padding: 0.4em 0;
    &:hover {
      text-decoration: 2px #004b23 underline;
    }
  }
  &__button {
    @include button-principal();
    background: #fff;
    color: #000;
    border: none;
    border-radius: 0;
  }
}
.header {
  padding: 1em 2em;
  @include flex(row, nowrap, space-between, center, 0);
  border-bottom: 2px solid #fff;
  height: 5.5em;
  position: sticky;
  z-index: 200;
  top: 0;
  background: #333;
  overflow: hidden;
  &__search {
    @include input-defecto(0.5em, 0.9em, 20em);
    &::placeholder {
      color: #000;
    }
  }
  &__logo--img {
    width: 6em;
    height: 6em;
    align-self: center;
  }
  &__hover {
    position: relative;
    cursor: pointer;
  }
  &__carl {
    @include flex(row, nowrap, end, end, 0);
    padding: 0 0.8em;
    font-size: 1em;
    color: #000;
    font-weight: bold;
  }
  &__hover:hover &__ul {
    opacity: 1;
    visibility: visible;
  }
  &__henry {
    margin: 0.7em 0 0 0;
    font-size: 2.2em;
    align-self: center;
  }
  &__options {
    @include flex(row, nowrap, space-between, center, 1em);
  }
  &__login {
    background: #000;
    padding: 0.3em 0.4em;
    border: 0.1em solid #fff;
    cursor: pointer;
    color: #fff;
  }
  &__length {
    display: inline-block;
    background: #fff;
    padding: 0.1em 0.6em;
    border-radius: 50%;
    color: $color-blueforce;
    font-weight: bold;
  }
  &__i {
    position: relative;
    transition: 0.5s ease;
  }
  &__i:hover &__session {
    opacity: 1;
    visibility: visible;
  }
  &__session {
    position: absolute;
    @include button-principal();
    left: -1.5em;
    opacity: 0;
    visibility: hidden;
  }
  &__translate {
    position: fixed;
    top: 0;
    right: 0;
    width: 310px;
    background: #fff;
    height: 100vh;
    transition: 0.5s ease-in-out;
    @include flex(column, nowrap, start, start, 0);
  }
  &__top {
    width: 100%;
    @include flex(row, nowrap, space-between, center, 0);
    color: #000;
    height: 3em;
    padding: 0 1em;
    border-bottom: 1px solid #ebebeb;
    font-weight: bold;
  }
  &__btn {
    background: transparent;
  }
  &__center {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__bottom {
    border-top: 1px solid #ebebeb;
    @include flex(row, nowrap, space-between, start, 0);
    width: 100%;
    padding: 0.6em 1em;
  }
  &__total {
    color: #000;
    font-weight: bold;
    padding: 0.2em;
  }
  &__item {
    background: #000;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
  }
  &__image {
    @include flex(column, nowrap, center, center, 0);
    height: 100%;
    text-align: center;
  }
  &__img {
    width: 17em;
    height: 17em;
  }
  &__span {
    color: #000;
    font-weight: bold;
  }
  &__drop {
    cursor: pointer;
    width: 1.6em;
    height: 1.6em;
  }
  &__dropitem {
    width: 100%;
    color: #000;
    transition: 0.5s linear;
  }
}
.carruzel {
  display: flex;
  transition: 0.5s ease;
  transform: translateX(0);
  margin: 0 0 3em 0;
  &__div {
    position: relative;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5em;
    @include flex(row, nowrap, center, center, 0);
  }
  &__button:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5em;
    @include flex(row, nowrap, start, center, 0);
  }
  &__btn {
    @include flex(row, nowrap, center, center, 0);
    font-size: 2.3em;
    border: 2px solid #fff;
    border-radius: 0 50% 50% 0;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-family: $font-principal;
  }
  &__btn2 {
    @include flex(row, nowrap, center, center, 0);
    border-radius: 50% 0 0 50%;
    font-size: 2.3em;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-family: $font-principal;
  }
  &__img {
    width: 100vw;
  }
}
.register {
  height: calc(100vh - 7.5em);
  &__container {
    height: 100%;
    @include flex(column, nowrap, center, center, 0.5em);
    position: relative;
    z-index: 20;
  }
  &__form {
    width: 30em;
    height: 30em;
    background: #000;
    @include flex(column, nowrap, center, center, 1.4em);
  }
  &__input {
    @include input-defecto(0.4em, 0.9em, 22em); // @include f;
    border-radius: 0;
  }
  &__password {
    width: 11em;
  }
  &__button {
    @include button-principal();
    background: #fff;
    color: #000;
    border-radius: 0;
  }
  &__dos {
    @include flex(row, nowrap, center, center, 0.1em);
  }
  &__span {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 1.045em;
  }
  &__validate {
    position: relative;
    @include flex(column, nowrap, center, center, 0);
  }
}
.car {
  margin: 2em 0 0 0;
  width: 100vw;
  @include flex(row, nowrap, center, center, 1.2em);
  position: relative;
  z-index: 2;
  &__map {
    width: 40em;
    @include flex(column, nowrap, center, center, 0.5em);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  }
  &__container {
    margin: 0.5em 0 0 0;
    background: #fff;
    @include flex(row, nowrap, center, start, 0.5em);
    color: #000;
    height: 6em;
    margin: 0.5em 0.4em;
    border: 1px solid #ebebeb;
    width: 100%;
  }
  &__description {
    @include flex(column, nowrap, center, center, 0.5em);
    height: 100%;
  }
  &__product {
    display: flex;
    gap: 1em;
  }
  &__p {
    width: 15em;
  }
  &__img {
    width: 5em;
    height: 5em;
    object-fit: contain;
  }
  &__total {
    background: #fff;
    // font-size: 1.4em;
    color: #000;
    padding: 0.5em;
    position: sticky;
    top: 0;
    align-self: flex-start;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
  }
  &__btn {
    align-self: end;
    margin: 0.5em 1em 0.5em 0.5em;
    background: transparent;
  }
  &__count {
    font-weight: bold;
  }
  &__button {
    background: #000;

    // padding: 0.5em 1em;
    // padding: 0.1em 0.4em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    font-family: $font-principal;
    @include flex(row, nowrap, center, center, 0.3em);
    transition: 0.5s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.product {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 0.6em;
  color: #232;
  &__btn {
    background: transparent;
  }
  &__article {
    width: 20em;
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 1em;
    align-self: center;
    justify-self: center;
  }
  &__favorit {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    cursor: pointer;
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__img {
    width: 15em;
    height: 18em;
    object-fit: contain;
  }
  &__container {
    @include flex(column, nowrap, center, center, 0);
  }
  &__top {
    width: 100%;
    padding: 0 0 0 1.25em;
  }
  &__name {
    width: 15em;
    height: 4em;
  }
  &__bottom {
    width: 100%;
    padding: 0 0 0 1.25em;
  }
  &__rating {
    color: $color-star;
    font-size: 1.4em;
  }
  &__stock {
    font-weight: bold;
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__flex {
    display: flex;
  }
  &__stock--icon {
    @include flex(row, nowrap, center, center, 0.2em);
  }
  &__category {
  }
  &__price {
  }
  &__button {
    @include button-principal();
  }
}
.pagination {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em;
  margin: auto;
  &__div {
    @include flex(row, nowrap, center, center, 0.2em);
  }
  &__container {
    margin: 2em 0;
    position: relative;
    z-index: 10;
  }
  &__div {
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__button {
    margin: auto;
    @include button-principal();
  }
}
.details {
  position: relative;
  z-index: 30;
  @include flex(row, wrap, center, center, 1em);
  background: #333;
  border-radius: 1em;
  padding: 2em;
  color: #fff;
  max-width: 76em;
  margin: 4em auto 0;

  &__portal {
    box-shadow: 0.5em 0.8em 1em #000;
    position: absolute;
    z-index: 5;
  }
  &__images {
    @include flex(column, wrap, center, center, 1em);
  }
  &__image {
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
    border-radius: 0.5em;
  }
  &__center {
    width: 30em;
    object-fit: contain;
    height: 40em;
    @include flex(column, wrap, center, center, 1em);
    background: #fff;
    border-radius: 2em;
    box-sizing: border-box;
  }
  &__special {
    @include flex(row, nowrap, start, center, 0);
    height: 10em;
    & img {
      object-fit: contain;
    }
  }
  &__left {
    @include flex(column, nowrap, space-between, center, 0);
    height: 40em;
  }
  &__h2 {
    font-size: 1.5em;
    font-weight: 500;
    @include flex(row, wrap, space-between, center, 0);
    position: relative;
  }
  &__name {
    width: 100%;
    font-weight: bold;
  }
  &__favorit {
    align-self: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
  }
  &__img {
    object-fit: contain;
    box-sizing: border-box;
  }
  &__description {
    width: 30em;
    overflow: auto;
  }
  &__price {
    font-size: 2em;
    @include flex(row, nowrap, center, center, 0.4em);
  }
  &__border {
    border: 2px solid #000;
  }
  &__p {
    font-size: 2em;
  }
  &__rating {
    color: $color-star;
  }
  &__button {
    @include button-principal();
    font-weight: bold;
  }
  &__centerx {
    height: 100%;
    @include flex(column, nowrap, start, start, 0.5em);
  }
  &__brand {
  }
  &__views {
  }
  &__send {
    @include flex(row, nowrap, start, center, 0.4em);
  }
  &__stock {
    @include flex(row, nowrap, start, center, 0.2em);
  }
  &__dis {
    font-size: 0.7em;
  }
  &__count {
    @include flex(row, nowrap, center, center, 0.5em);
  }

  &__span {
    font-size: 2em;
  }
  &__bot {
    position: relative;
    z-index: 1;
  }
  &__dpago {
    margin: 3em 0 0 0;
    @include flex(row, wrap, center, start, 1em);
    height: 100%;
  }
  &__bottom {
    padding: 2em;
    line-height: 1.5;
    font-size: 1.2em;
    height: 26em;
    background: #333;
    box-shadow: 0.1em 0.1em 0.3em 0.1em #000;
    border-radius: 0.5em;
    width: 50em;
    overflow: auto;
  }
  &__pago {
    line-height: 1.5;
    font-size: 1.2em;
    background: #333;
    height: 15em;
    box-shadow: 0.4em 0.2em 0.3em #000;
    border-radius: 0.5em;
  }
  &__span {
    color: #fff;
    font-size: 1em;
    display: block;
    text-align: center;
    margin: 0 0 1em 0;
  }
  &__map {
    width: 10em;
    @include flex(row, wrap, center, center, 1em);
    margin: auto;
  }
}
.review {
  width: 100%;
  margin: 2em 0 0 0;
  border-top: 1px solid #000;
  @include flex(column, nowrap, center, center, 0);
  &__form {
    width: 100%;
    @include flex(column, nowrap, start, start, 0em);
  }
  &__div {
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__label {
    display: inline-block;
    width: 9.5em;
  }
  &__input {
    width: 100%;
    background: transparent;
    font-size: 1em;
    &::placeholder {
      color: #000;
    }
  }
  &__textarea {
    @include input-defecto(0.5em, 0.8em, 19em);
    height: 10em;
    width: 29em;
  }
  &__button {
    background: transparent;
  }
  &__cstar {
    font-size: 2em;
    margin: 0;
    padding: 0;
  }
  &__msg {
    @include input-defecto(0.5em, 0.8em, 15em);
    width: 100%;
    padding: 0 0.4em;
    @include flex(row, nowrap, center, center, 0.5em);
    margin: 0 0 1em 0;
    height: 1.8em;
  }
  &__star {
    cursor: pointer;
    color: $color-star;
    font-weight: bold;
  }
}
.footer {
  background: #333;
  border-top: 2px solid #fff;
  @include flex(row, nowrap, space-around, center, 1em);
  &__h1 {
  }
  &__ul {
  }
  &__li {
    list-style: none;
  }
  &__pago {
  }
  &__image {
    display: grid;
    grid-template-columns: repeat(3, minmax(2.5em, 1fr));
    grid-auto-rows: 2.5em;
    // justify-content: center;
    // align-items: center;
    gap: 0.4em;
  }
  &__img {
    width: 2.5em;
  }
}
.comentarios {
  margin: 2em 0 2em 0;
  @include flex(column, nowrap, start, center, 0.3em);
  &__div {
    @include flex(row, nowrap, start, center, 0.3em);
    max-width: 1250px;
  }
  &__rating {
    background: #222;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.1em #000;
    @include flex(row, nowrap, start, center, 0.3em);
  }
  &__cal {
    font-size: 2em;
    font-weight: bold;
    width: 2em;
    text-align: center;
  }
  &__coment {
    align-self: flex-start;
  }
  &__h2 {
    margin: 0 0 1em 0;
    padding: 0.3em;
  }
  &__div {
    @include flex(row, wrap, start, start, 1em);
  }
  &__star {
    align-self: start;
  }
  &__rating {
  }
  &__cal {
  }
  &__r {
  }
  &__coment {
    background: #fff;
    background: #232323;
    padding: 1em 2em;
    box-shadow: 0.1em 0.1em 0.2em #000, -0.1em -0.1em 0.2em #000;
    width: 80vw;
  }
  &__select {
    @include flex(row, nowrap, start, center, 0.4em);
    margin: 0 0 2em 0;
    border-radius: 0.5em;
  }
  &__slct {
    @include background-defecto();
    padding: 0.3em;
    border-radius: 0.2em;
  }
  &__mapr {
  }
  &__h3 {
    font-weight: 500;
    color: $color-star;
    font-size: 1.5em;
  }
  &__p {
  }
}
.count {
  &__div {
    @include flex(row, nowrap, center, center, 0);
  }
  &__span {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.infop {
  @include flex(column, nowrap, center, center, 0.5em);
  height: 100%;
  &__input {
    @include input-defecto(0.3em, 0.7em, 13em);
  }
  &__button {
    @include button-principal();
  }
}
.payment {
  width: 100%;
  height: 100%;
  &__container {
    padding: 1em;
    margin: 1em 0.5em 0 0.5em;
    background: #fff;
    border-radius: 1em;
    // width: 15em;
  }
  &__div {
    margin: 1em 0 0 0;
    width: 100%;
    @include flex(row, nowrap, center, center, 0);
  }
  &__button {
    @include button-principal();
  }
  &__h3 {
    text-align: center;
  }
  &__dates {
    padding: 0.7em 0 0 2em;
  }
  &__shipping {
    font-size: 1.1em;
  }
  &__span {
    display: inline-block;
    width: 4.5em;
    font-size: 1em;
  }
  &__name {
    font-size: 1.1em;
  }
}
.questions {
  @include flex(column, nowrap, center, center, 0.5em);
  &__h1 {
    font-family: 'Roboto';
    margin: 2em 0 0 0;
  }
  &__p {
    text-align: left;
    font-size: 1.2em;
    line-height: 1;
    padding: 0.3em 0 0 0;
    height: 0;
    opacity: 0;
    transition: 0.5s linear;
    width: 30em;
    padding: 0.3em 1em;
    background: #333;
  }
  .v {
    height: 6em;
    opacity: 1;
  }
  &__div {
    font-family: 'Roboto';
    @include flex(column, wrap, center, center, 0.2em);
    width: 40em;
  }
  &__text {
    width: 45em;
    font-size: 1.2em;
    font-family: 'Roboto';
  }
  &__h2 {
    font-weight: 500;
    padding: 0.2em;
    position: relative;
    z-index: 10;
    cursor: pointer;
    background: #333;
  }
}
.pc {
  position: relative;
  z-index: 100;
  @include flex(row, nowrap, start, center, 0);
  &__container {
    max-width: 1200px;
    padding: 1em;
    @include responsive(1000px) {
      padding: 0 0.3em;
    }
    margin: auto;
  }
  &__components {
    @include flex(row, nowrap, start, start, 2em);
  }
  &__component {
    width: 6em;
    object-fit: contain;
    height: 6em;
    background: #fff;
  }
  &__brand {
    background: #fff;
    @include flex(row, nowrap, start, center, 0.5em);
    width: 18em;
    padding: 0.5em;
    border-radius: 0.2em;
  }
  &__amd {
    background: #555;
    border-radius: 0.2em;
  }
  &__intel {
    background: #00a5b9;
    border-radius: 0.2em;
  }
  &__left {
    align-self: flex-start;
    padding: 1em 0;
    border-radius: 0.5em;
    background: #fff;
    box-shadow: 0.1em 0.1em 1em #000;
    width: 30em;
    max-width: 346px;
  }
  &__right {
    @include flex(row, wrap, end, start, 1em);
    min-height: 500px;
  }
  &__mark {
    @include flex(row, nowrap, start, center, 0.5em);
    margin: 0 0 1em 0;
  }
  &__image {
    width: 8em;
    height: 2em;
    padding: 0.3em;
    cursor: pointer;
  }
  &__map {
    cursor: pointer;
    height: 9em;
    width: 20em;
    color: #000;
    @include flex(row, wrap, start, space-between, 1em);
    background: #fff;
    border-radius: 0.5em;
    position: relative;
  }
  &__des {
    height: 100%;
    @include flex(column, wrap, space-between, space-between, 1em);
  }
  &__name {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Roboto';
    width: 13em;
    padding: 1em 0 0 0;
    font-weight: bold;
    justify-items: start;
    height: 5em;
  }
  &__price {
    // align-self: flex-end;
    padding: 0 0 1em 0;
    font-weight: bold;
  }
  &__h1 {
    font-family: 'Roboto';
    padding: 0.2em;
    background: #fff;
    color: #000;
    font-family: 'Roboto';
  }
  &__description {
    font-size: 1.1em;
    padding: 0.2em;
    height: 3.5em;
    margin: 0 0 1em 0;
    background: #fff;
    color: #000;
    font-family: 'Roboto';
    @include responsive(950px) {
      margin: 0 0 3em 0;
      height: 6em;
    }
  }
  &__images {
    cursor: pointer;
    @include flex(row, nowrap, space-around, center, 0);
  }
  &__div {
    position: relative;
  }
  &__i {
    position: absolute;
    right: 5px;
    top: 0;
  }
  &__select {
    filter: brightness(0);
  }
  &__selec {
    border: 1px solid #000;
    border-radius: 1em;
  }
  &__img {
    width: 4.5em;
    height: 4.5em;
    object-fit: contain;
  }
  &__dates {
    @include flex(row, nowrap, space-around, center, 0);
  }
  &__total {
    padding: 0.2em;
    font-weight: bold;
    width: 12em;
    background: #000;
    color: #fff;
  }
  &__buy {
    @include button-principal--second(0.2em, 0.4em, 0.2em, 0.9em);
    padding: 0.5em;
    background: #000;
    color: #fff;
  }
  &__informacion {
    position: absolute;
    right: 5px;
  }
  &__complete {
    height: 500px;
    background: #fff;
    color: #000;
    padding: 1em 1.5em;
    border-radius: 0.5em;
  }
  &__h2 {
  }
  &__ul {
    height: calc(100% - 32px);
    @include flex(column, nowrap, space-between, start, 0);
  }
  &__li {
  }
  &__span {
    display: inline-block;
    width: 1.4em;
  }
  &__button {
    align-self: flex-end;
    @include button-principal();
  }
  &__columnx {
    @include flex(column, nowrap, space-between, start, 0);
    max-width: 790px;
    flex-grow: 1;
  }
  &__periferico {
    @include flex(row, nowrap, space-between, start, 0.5em);
    margin: 0 0 1em 0;
  }
  &__btnn {
    @include button-principal();
  }
}
.portal {
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  @include flex(row, nowrap, center, center, 0);
  &__div {
    width: 50em;
    height: 30em;
    background: #33333390;
    border-radius: 1em;
    border: 2px solid #fff;
    @include flex(column, nowrap, center, center, 1em);
    position: relative;
  }
  &__carruzel {
    width: 20em;
    overflow: hidden;
    @include flex(row, nowrap, start, center, 0);
    margin: auto;
  }
  &__carruzell {
    transition: 0.5s ease;
    @include flex(row, nowrap, center, center, 3em);
    transform: translateX(-0em);
  }
  &__img {
    width: 20em;
    height: 20em;
    margin: 2em 0 0 0;
    object-fit: contain;
    background: #fff;
  }
  &__buttons {
    @include flex(row, nowrap, center, center, 0.5em);
    height: 3em;
    width: 10em;
  }
  &__btn {
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }
  &__close {
    background: transparent;
    position: absolute;
    right: 1em;
    top: 0.2em;
  }
  &__button {
    @include button-principal();
  }
}
.info {
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  visibility: hidden;
  @include flex(row, nowrap, center, center, 0);
  &__container {
    width: 35em;
    height: 30em;
    background: #22222250;
    position: relative;
    border: 2px solid #fff;
    border-radius: 0.5em;
  }

  &__i {
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
  }
  &__name {
    margin: 0 2em 0;
    margin-bottom: 0;
    padding: 0 2em;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
  }
  &__flex {
    background: #fff;
    width: 85%;
    margin: auto;
    @include flex(row, nowrap, space-around, center, 0);
  }
  &__drop {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  &__acordeon {
    margin: 2em 0 0 0;
  }
  &__description {
    padding: 0 1em;
    height: 0;
    margin: 0.2em 2.5em;
    transition: 0.2s linear;
    background: #222;
    overflow: auto;
  }
  .x {
    height: 14em;
  }
  &__open {
  }
}
.espera {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include flex(row, wrap, center, center, 0);
  height: 100vw;
  width: 100vw;
  backdrop-filter: blur(1em);

  &__div {
    width: 22em;
    height: 18em;
    background: #fff;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    border-radius: 1em;
    @include flex(row, wrap, center, center, 0);
  }
}
.drop {
  width: 10em;
  height: 1.6em;
  background: #fff;
  padding: 0.1em 0.3em;
  color: #000;
  @include flex(row, nowrap, space-between, center, 0);
  &__select {
    position: relative;
    @include flex(column, nowrap, start, start, 0);
  }
  &__img {
  }
  &__review {
    align-self: center;
  }
  &__image {
    width: 1.5em;
    height: 1.5em;
    align-self: center;
    cursor: pointer;
  }
  &__map {
    background: #000;
    padding: 0 0.3em;
    width: 10em;
    position: absolute;
    top: 1.6em;
  }
  &__star {
    font-size: 1.2em;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    color: $color-star;
  }
}
.acount {
  //PANEL IZQUIERDO
  @include flex(row, nowrap, start, start, 2em);
  height: 80vh;
  &__drop {
    position: relative;
    width: 20em;
    height: 90vh;
  }
  &__flex {
    @include flex(row, nowrap, center, center, 0);
    flex-grow: 1;
  }
  &__left {
    background: #333;
    position: relative;
    z-index: 300;
    width: 20em;
    padding: 2em 1em 0;
    height: 80vh;
    flex-grow: 1;
    position: fixed;
    top: 5.5em;
  }
  &__div {
    @include flex(row, nowrap, space-between, start, 0);
    width: 18em;
    padding: 0.5em 0;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
  }
  &__image {
    width: 1.5em;
    height: 1.5em;
  }
  //PANEL DERECHO QUE SE RENDIRZA DEPENDDIENDO LO DEL IZQUIERDO
  &__right {
    @include flex(row, wrap, center, start, 1em);
    max-width: 1000px;
    color: #000;
    flex-shrink: 1.5;
    flex-grow: 1;
  }
  &__favorites {
    @include flex(row, wrap, center, center, 1em);
    width: 100%;
    color: #000;
    flex-shrink: 1.5;
    margin: 2em 0 0 0;
    position: relative;
    z-index: 300;
  }
  &__add {
    color: #fff;
    @include flex(column, nowrap, center, center, 4em);
  }
  &__text {
    font-size: 1.5em;
  }
}
.update {
  padding: 2em;
  color: #fff;
  position: relative;
  z-index: 300;
  align-self: flex-start;
  width: 75vw;
  background: #333;
  flex-grow: 1.5;
  &__container {
  }
  &__form {
  }
  &__div {
    @include flex(row, nowrap, space-between, start, 0);
    width: 100%;
    padding: 0.5em 0;
  }
  &__label {
    width: 10em;
    // background: red;
  }
  &__flex {
    @include flex(row, nowrap, space-between, start, 0.5em);
  }
  &__input {
    width: 21em;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1em;
  }
  &__pass {
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    width: 9.5em;
    margin: 0 0.5em 0 0;
  }
  &__btn {
    color: #fff;
    background: transparent;
    padding: 0.2em;
    font-size: 1.1em;
    font-family: 'Roboto';
    &:hover {
      background: #000;
      color: #fff;
    }
  }
  &__submit {
    @include button-principal();
    background: #000;
    color: #fff;
  }
  &__error {
    color: #ff0000;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home__image-gif {
  width: 15em;
  height: 15em;
}
