@import './imports/reset.scss', './imports/mixins.scss',
  './imports/variables.scss';
.home {
}
#tsparticles {
  height: 250vh;
  position: absolute;
  width: 100%;
}
.home__main {
  @include flex(row, wrap, start, center, 0.4em);
  @include responsive() {
    @include flex(column, wrap, start, center, 0.4em);
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex(column, nowrap, center, center, 0);
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 20;
  &__container {
    width: 20em;
    height: 20em;
    background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
    border-radius: 0.8em;
    @include flex(column, nowrap, center, center, 0);
  }
  &__close {
    align-self: flex-end;
    padding: 0 1.6em;
    cursor: pointer;
  }
  &__form {
    @include flex(column, nowrap, center, center, 0.9em);
  }
  &__login {
    @include input-defecto(0.4em, 0.8em, 15em);
  }
  &__acount {
    @include flex(row, nowrap, space-between, center, 0.5em);
  }
  &__link {
    font-size: 1.1em;
    transition: 0.5s ease;
    padding: 0.4em 0;
    &:hover {
      text-decoration: 2px #004b23 underline;
    }
  }
  &__button {
    @include button-principal();
  }
}
.header {
  padding: 1em 2em;
  @include flex(row, nowrap, space-between, center, 0);
  border-bottom: 2px solid #fff;
  height: 5.5em;
  position: sticky;
  z-index: 10;
  top: 0;
  background: #333;
  &__logo {
  }
  &__henry {
    color: $color-principal;
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff,
      0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff;
  }
  &__options {
    @include flex(row, nowrap, space-between, center, 1em);
  }
  &__login {
    background: $color-principal;
    padding: 0.4em 0.8em;
    font-size: 1.3em;
    border: 0.1em solid #fff;
    border-radius: 2em;
    cursor: pointer;
  }
  &__cart {
    fill: $color-principal;
  }
  &__length {
    background: $color-principal;
    padding: 0.2em 0.5em;
    border-radius: 50%;
    color: #000;
    font-weight: bold;
  }
}
.carruzel {
  display: flex;
  transition: 0.5s ease;
  transform: translateX(0);
  margin: 0 0 3em 0;
  &__div {
    position: relative;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5em;
    @include flex(row, nowrap, center, center, 0);
  }
  &__button:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5em;
    @include flex(row, nowrap, start, center, 0);
  }
  &__btn {
    @include flex(row, nowrap, center, center, 0);
    font-size: 2.3em;
    border: 2px solid #fff;
    border-radius: 0 50% 50% 0;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-family: $font-principal;
  }
  &__btn2 {
    @include flex(row, nowrap, center, center, 0);
    border-radius: 50% 0 0 50%;
    font-size: 2.3em;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-family: $font-principal;
  }
  &__img {
    width: 100vw;
  }
}
.register {
  height: calc(100vh - 7.5em);
  &__container {
    height: 100%;
    @include flex(column, nowrap, center, center, 0.5em);
  }
  &__form {
    width: 30em;
    height: 30em;
    background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
    border-radius: 1em;
    @include flex(column, nowrap, center, center, 1.2em);
  }
  &__input {
    @include input-defecto(0.4em, 0.9em, 22em) // @include f;
;
  }
  &__password {
    width: 11em;
  }
  &__button {
    @include button-principal();
  }
}
.aside {
  flex-grow: 0.25;
}
.car {
  margin: 2em 0 0 0;
  width: 100vw;
  @include flex(row, nowrap, center, center, 0.5em);
  &__map {
    @include flex(column, nowrap, center, center, 0.5em);
  }
  &__container {
    background: #fff;
    border-radius: 1em;
    @include flex(row, nowrap, center, start, 0.5em);
    color: #000;
    height: 15em;
    width: 35em;
  }
  &__description {
    @include flex(column, nowrap, space-around, start, 0.5em);
    height: 100%;
  }
  &__p {
    width: 15em;
  }
  &__img {
    width: 15em;
    height: 15em;
  }
  &__total {
    background: #fff;
    font-size: 1.4em;
    color: #000;
    padding: 1em;
    position: sticky;
    top: 1em;
    align-self: flex-start;
    font-weight: bold;
    border-radius: 1em;
  }
  &__button {
    align-self: end;
    margin: 0.5em 1em 0.5em 0.5em;
    background: transparent;
  }
}
.product {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  color: #232;

  &__article {
    width: 20em;
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 1em;
    align-self: center;
    justify-self: center;
  }
  &__favorit {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    cursor: pointer;
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__img {
    width: 15em;
    height: 18em;
  }
  &__container {
    @include flex(column, nowrap, center, center, 0);
  }
  &__top {
    width: 100%;
    padding: 0 0 0 1.25em;
  }
  &__name {
    width: 15em;
    height: 4em;
  }
  &__bottom {
    width: 100%;
    padding: 0 0 0 1.25em;
  }
  &__rating {
    color: $color-star;
    font-size: 1.4em;
  }
  &__stock {
    font-weight: bold;
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__category {
  }
  &__price {
  }
  &__button {
    @include button-principal();
  }
}
.pagination {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em;
  margin: auto;
  grid-column: 1/3;
  // grid-column-end: 3;
  &__container {
  }
  &__div {
    @include flex(row, nowrap, center, center, 0.5em);
  }
  &__button {
    margin: auto;
    @include button-principal();
  }
}
.footer {
  background: #333;
  border-top: 2px solid #fff;
  @include flex(row, nowrap, space-around, center, 1em);
  &__h1 {
  }
  &__ul {
  }
  &__li {
    list-style: none;
  }
  &__pago {
  }
  &__image {
    display: grid;
    grid-template-columns: repeat(3, minmax(2.5em, 1fr));
    grid-auto-rows: 2.5em;
    // justify-content: center;
    // align-items: center;
    gap: 0.4em;
  }
  &__img {
    width: 2.5em;
  }
}
