@import './variables.scss';
@mixin flex($a, $b, $c, $d, $e) {
  display: flex;
  flex-flow: $a $b;
  justify-content: $c;
  gap: $e;
  @if $b == 'nowrap' {
    align-items: $d;
  } @else {
    align-content: $d;
  }
}
@mixin responsive($medida: 600px) {
  @media screen and (max-width: $medida) {
    @content;
  }
}
@mixin button-principal() {
  background: #000;

  padding: 0.5em 1em;
  border-radius: 1em;
  color: $color-white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: $font-principal;
  @include flex(row, nowrap, center, center, 0.3em);
  transition: 0.5s linear;

  &:hover {
    transform: scale(1.1);
  }
}
@mixin modal() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex(column, nowrap, center, center, 0);
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 10000;
}
@mixin input-defecto($a, $b, $c) {
  padding: $a $b;
  font-size: 1.2em;
  width: $c;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;

  &::placeholder {
    color: #000;
    font-family: $font-principal;
  }
}
@mixin background-defecto() {
  background: linear-gradient(
    45deg,
    $color-bluewhite 0%,
    $color-blueforce 70%,
    $color-bluee 100%
  );
}
@mixin car-option {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
}
@mixin button-principal--second($a, $b, $c, $d) {
  background: linear-gradient(
    to right,
    $color-principal 0%,
    $succes 70%,
    $succes 100%
  );

  padding: $a $b;
  border-radius: $c;
  color: $color-white;
  text-transform: uppercase;
  font-size: $d;
  font-weight: bold;
  font-family: $font-principal;
  @include flex(row, nowrap, center, center, 0.3em);
  transition: 0.5s linear;

  &:hover {
    transform: scale(1.1);
  }
}
