@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $background;
  color: $color-white;
  font-family: $font-principal, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  // background: url('../../public/zarpado.webp');
}
select {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: $color-white;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input,
textarea {
  border: none;
  outline: none;
  &::placeholder {
    color: $color-white;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.2em;
}
ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
.links {
  color: #fff;
  text-decoration: none;
}
