@import './fonts.scss';
//Colors
$background: #232323;
$color-white: #fff;
$color-icon: #00a8e8;
$succes: #32ba7c;
$color-principal: #7eda55;
$color-star: #ffa41c;
//Fonts
$font-principal: 'Exo';
$color-bluewhite: #81e3e2;
$color-blueforce: #02acab;
$color-bluee: #027372;
