@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232323;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

select {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea {
  border: none;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.2em;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.links {
  color: #fff;
  text-decoration: none;
}

#tsparticles {
  position: absolute;
  width: 100%;
}

.home__main {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 0.4em;
  align-content: center;
}
@media (max-width: 600px) {
  .home__main {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    gap: 0.4em;
    align-content: center;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 20;
}
.modal__container {
  width: 20em;
  height: 20em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 0.8em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.modal__close {
  align-self: flex-end;
  padding: 0 1.6em;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.9em;
  align-items: center;
}
.modal__login {
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  width: 15em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.modal__login::placeholder {
  color: #fff;
  font-family: "Exo";
}
.modal__acount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}
.modal__link {
  font-size: 1.1em;
  transition: 0.5s ease;
  padding: 0.4em 0;
}
.modal__link:hover {
  text-decoration: 2px #004b23 underline;
}
.modal__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.modal__button:hover {
  transform: scale(1.1);
}

.header {
  padding: 1em 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  border-bottom: 2px solid #fff;
  height: 5.5em;
  position: sticky;
  z-index: 100;
  top: 0;
  background: #333;
}
.header__search {
  padding: 0.5em 0.9em;
  font-size: 1.2em;
  width: 20em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.header__search::placeholder {
  color: #fff;
  font-family: "Exo";
}
.header__search::placeholder {
  color: #000;
}
.header__hover {
  position: relative;
}
.header__ul {
  position: absolute;
  top: 3.4em;
  right: 2em;
  width: 10em;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: start;
  color: #000;
  border-radius: 1em;
}
.header__make {
  display: none;
  position: absolute;
  width: 20em;
  height: 20em;
  right: 10em;
  top: 8em;
  border-radius: 1em;
  background: #000;
  color: #fff;
}
.header__purcharse {
  display: none;
  position: absolute;
  width: 20em;
  height: 20em;
  right: 10em;
  top: 8em;
  border-radius: 1em;
  background: #000;
  color: #fff;
}
.header__carr {
  display: none;
  position: absolute;
  width: 20em;
  height: 20em;
  right: 10em;
  top: 8em;
  border-radius: 1em;
  background: #000;
  color: #fff;
}
.header .purcharse {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
}
.header .make {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
}
.header .carr {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
}
.purcharse:hover .header__purcharse {
  display: block;
}
.carr:hover .header__carr {
  display: block;
}
.make:hover .header__make {
  display: block;
}
.header__hover:hover .header__ul {
  opacity: 1;
  visibility: visible;
}
.header__henry {
  color: #7eda55;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff;
}
.header__options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}
.header__login {
  background: #7eda55;
  padding: 0.4em 0.8em;
  font-size: 1.3em;
  border: 0.1em solid #fff;
  border-radius: 2em;
  cursor: pointer;
}
.header__cart {
  fill: #7eda55;
}
.header__length {
  background: #7eda55;
  padding: 0.2em 0.5em;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
}

.carruzel {
  display: flex;
  transition: 0.5s ease;
  transform: translateX(0);
  margin: 0 0 3em 0;
}
.carruzel__div {
  position: relative;
}
.carruzel__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.carruzel__button:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
}
.carruzel__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  font-size: 2.3em;
  border: 2px solid #fff;
  border-radius: 0 50% 50% 0;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Exo";
}
.carruzel__btn2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  border-radius: 50% 0 0 50%;
  font-size: 2.3em;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Exo";
}
.carruzel__img {
  width: 100vw;
}

.register {
  height: calc(100vh - 7.5em);
}
.register__container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.register__form {
  width: 30em;
  height: 30em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.2em;
  align-items: center;
}
.register__input {
  padding: 0.4em 0.9em;
  font-size: 1.2em;
  width: 22em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.register__input::placeholder {
  color: #fff;
  font-family: "Exo";
}
.register__password {
  width: 11em;
}
.register__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.register__button:hover {
  transform: scale(1.1);
}

.aside {
  flex-grow: 0.25;
}

.car {
  margin: 2em 0 0 0;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.car__map {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.car__container {
  background: #fff;
  border-radius: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: start;
  color: #000;
  height: 15em;
  width: 35em;
}
.car__description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 0.5em;
  align-items: start;
  height: 100%;
}
.car__p {
  width: 15em;
}
.car__img {
  width: 15em;
  height: 15em;
}
.car__total {
  background: #fff;
  font-size: 1.4em;
  color: #000;
  padding: 1em;
  position: sticky;
  top: 1em;
  align-self: flex-start;
  font-weight: bold;
  border-radius: 1em;
}
.car__button {
  align-self: end;
  margin: 0.5em 1em 0.5em 0.5em;
  background: transparent;
}

.product {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  color: #232;
}
.product__article {
  width: 20em;
  position: relative;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  align-self: center;
  justify-self: center;
}
.product__favorit {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.product__img {
  width: 15em;
  height: 18em;
}
.product__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.product__top {
  width: 100%;
  padding: 0 0 0 1.25em;
}
.product__name {
  width: 15em;
  height: 4em;
}
.product__bottom {
  width: 100%;
  padding: 0 0 0 1.25em;
}
.product__rating {
  color: #ffa41c;
  font-size: 1.4em;
}
.product__stock {
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.product__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.product__button:hover {
  transform: scale(1.1);
}

.pagination {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em;
  margin: auto;
  grid-column: 1/3;
}
.pagination__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.pagination__button {
  margin: auto;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.pagination__button:hover {
  transform: scale(1.1);
}

.details {
  position: relative;
  z-index: 30;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 1em;
  padding: 2em;
  max-width: 76em;
  margin: 4em auto 0;
}
.details__images {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
}
.details__image {
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  border-radius: 0.5em;
}
.details__center {
  width: 30em;
  object-fit: contain;
  height: 40em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  background: #fff;
  border-radius: 2em;
  box-sizing: border-box;
}
.details__special {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  height: 100%;
}
.details__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  height: 40em;
}
.details__h2 {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0;
  align-content: center;
  position: relative;
}
.details__name {
  width: 11.8em;
  font-weight: bold;
}
.details__favorit {
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
.details__img {
  object-fit: contain;
  box-sizing: border-box;
}
.details__description {
  width: 20em;
}
.details__price {
  font-size: 2em;
}
.details__border {
  border: 2px solid #000;
}
.details__p {
  font-size: 2em;
}
.details__rating {
  color: #ffa41c;
}
.details__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  font-weight: bold;
}
.details__button:hover {
  transform: scale(1.1);
}
.details__stock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.2em;
  align-items: center;
}
.details__dis {
  font-size: 0.7em;
}
.details__count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
}
.details__span {
  font-size: 2em;
}
.details__bot {
  position: relative;
  z-index: 40;
}
.details__dpago {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 0;
  align-content: center;
  height: 100%;
}
.details__bottom {
  padding: 2em;
  line-height: 1.5;
  font-size: 1.2em;
  width: 50%;
  flex-grow: 2;
}
.details__pago {
  margin: 2em 1em 0 0;
  line-height: 1.5;
  font-size: 1.2em;
  background: #fff;
  height: 15em;
  box-shadow: 0.4em 0.2em 0.3em #000;
  border-radius: 0.5em;
}
.details__span {
  color: #000;
  font-size: 1em;
  display: block;
  text-align: center;
  margin: 0 0 1em 0;
}
.details__map {
  width: 10em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  margin: auto;
}

.review {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.review__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.6em;
  align-items: center;
}
.review__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.review__label {
  display: inline-block;
  width: 9.5em;
}
.review__input {
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  width: 15em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.review__input::placeholder {
  color: #fff;
  font-family: "Exo";
}
.review__textarea {
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  width: 19em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  height: 10em;
  width: 29em;
}
.review__textarea::placeholder {
  color: #fff;
  font-family: "Exo";
}
.review__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.review__button:hover {
  transform: scale(1.1);
}
.review__cstar {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.review__star {
  cursor: pointer;
  color: #ffa41c;
  font-weight: bold;
}

.footer {
  background: #333;
  border-top: 2px solid #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}
.footer__li {
  list-style: none;
}
.footer__image {
  display: grid;
  grid-template-columns: repeat(3, minmax(2.5em, 1fr));
  grid-auto-rows: 2.5em;
  gap: 0.4em;
}
.footer__img {
  width: 2.5em;
}

.comentarios__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
}
.comentarios__rating {
  background: #222;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.4em 0.8em 0.3em #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
}
.comentarios__cal {
  font-size: 2em;
  font-weight: bold;
  width: 2em;
  text-align: center;
}
.comentarios__coment {
  align-self: flex-start;
}

.count__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.count__span {
  font-size: 1.5em;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
