@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232323;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

select {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea {
  border: none;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.2em;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.links {
  color: #fff;
  text-decoration: none;
}

.loader {
  width: 100vw;
  height: calc(100vh - 5.5em);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}

.stripe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  backdrop-filter: blur(1em);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  z-index: 500;
}
.stripe__div {
  position: relative;
  width: 18em;
  height: 18em;
  background: #fff;
  color: #000;
  border-radius: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.stripe__p {
  padding: 1.5em;
  width: 100%;
  font-weight: bold;
}
.stripe__span {
  display: inline-block;
  align-self: flex-end;
  margin: 0 3em 1.5em 0;
  font-weight: bold;
}
.stripe__img {
  width: 5em;
  height: 5em;
}

.spinner {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 1em solid #fff;
  border-bottom-color: blue;
  animation: spinner infinite 2s linear;
}

.btn-top {
  position: fixed;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  opacity: 1;
  transition: 0.5s ease;
  background: transparent;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  padding: 0.4em;
}
.btn-top:hover {
  transform: scale(1.1);
}

.close {
  opacity: 0;
}

.body {
  overflow: hidden;
}

.home__carruzel {
  display: flex;
  color: #000;
  width: 100%;
  transform: translateX(0);
  gap: 1.2em;
  transition: 0.5s linear;
}
.home__cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
  width: 59em;
  margin: auto;
  box-shadow: inset 0.5em 0.5em 1em #fff;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.home__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.home__button {
  position: relative;
  z-index: 5;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background: rgba(255, 255, 255, 0.5647058824);
}
.home__select {
  background: #fff;
}
.home__main {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 0.4em;
  align-content: center;
  position: relative;
}
.home__products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.home__pages {
  flex-grow: 1;
}

.aside {
  position: sticky;
  top: 6em;
  height: 45em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}

#tsparticles {
  position: absolute;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 200;
}
.modal__container {
  width: 20em;
  height: 20em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 0.8em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.modal__close {
  align-self: flex-end;
  padding: 0 1.6em;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.9em;
  align-items: center;
}
.modal__login {
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  width: 15em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.modal__login::placeholder {
  color: #fff;
  font-family: "Exo";
}
.modal__acount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}
.modal__link {
  font-size: 1.1em;
  transition: 0.5s ease;
  padding: 0.4em 0;
}
.modal__link:hover {
  text-decoration: 2px #004b23 underline;
}
.modal__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.modal__button:hover {
  transform: scale(1.1);
}

.header {
  padding: 1em 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  border-bottom: 2px solid #fff;
  height: 5.5em;
  position: sticky;
  z-index: 200;
  top: 0;
  background: #333;
}
.header__search {
  padding: 0.5em 0.9em;
  font-size: 1.2em;
  width: 20em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.header__search::placeholder {
  color: #fff;
  font-family: "Exo";
}
.header__search::placeholder {
  color: #000;
}
.header__hover {
  position: relative;
}
.header__ul {
  position: absolute;
  top: 3.4em;
  right: 2em;
  width: 10em;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: start;
  color: #000;
  border-radius: 1em;
}
.header__make {
  display: none;
  position: absolute;
  width: 20em;
  height: 20em;
  right: 9em;
  top: -4em;
  border-radius: 1em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  color: #fff;
}
.header__purcharse {
  display: none;
  position: absolute;
  width: 20em;
  height: 20em;
  right: 9em;
  top: -4em;
  border-radius: 1em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  color: #fff;
}
.header__carr {
  display: none;
  position: absolute;
  width: 20em;
  height: 20em;
  right: 9em;
  top: -4em;
  border-radius: 1em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  color: #fff;
  overflow: auto;
}
.header__carl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 0;
  align-items: end;
  padding: 0 0.8em;
  font-size: 1em;
  color: #000;
  font-weight: bold;
}
.header .purcharse {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
  transition: 0.5s linear;
  cursor: pointer;
}
.header .purcharse:hover {
  background: #004b23;
}
.header .make {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
  transition: 0.5s linear;
  cursor: pointer;
}
.header .make:hover {
  background: #004b23;
}
.header .carr {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0.4em;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0.5em;
  transition: 0.5s linear;
  cursor: pointer;
}
.header .carr:hover {
  background: #004b23;
}
.purcharse:hover .header__purcharse {
  display: block;
}
.carr:hover .header__carr {
  display: block;
}
.make:hover .header__make {
  display: block;
}
.header__hover:hover .header__ul {
  opacity: 1;
  visibility: visible;
}
.header__henry {
  color: #7eda55;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff, 0.01em 0.01em 0.1em #fff;
}
.header__options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}
.header__login {
  background: #7eda55;
  padding: 0.3em 0.4em;
  border: 0.1em solid #fff;
  border-radius: 2em;
  cursor: pointer;
  color: #000;
}
.header__cart {
  fill: #7eda55;
}
.header__length {
  background: #7eda55;
  padding: 0.2em 0.5em;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
}
.header__i {
  position: relative;
  transition: 0.5s ease;
}
.header__i:hover .header__session {
  opacity: 1;
  visibility: visible;
}
.header__session {
  position: absolute;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  left: -1.5em;
  opacity: 0;
  visibility: hidden;
}
.header__session:hover {
  transform: scale(1.1);
}

.carruzel {
  display: flex;
  transition: 0.5s ease;
  transform: translateX(0);
  margin: 0 0 3em 0;
}
.carruzel__div {
  position: relative;
}
.carruzel__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.carruzel__button:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
}
.carruzel__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  font-size: 2.3em;
  border: 2px solid #fff;
  border-radius: 0 50% 50% 0;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Exo";
}
.carruzel__btn2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  border-radius: 50% 0 0 50%;
  font-size: 2.3em;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Exo";
}
.carruzel__img {
  width: 100vw;
}

.register {
  height: calc(100vh - 7.5em);
}
.register__container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  position: relative;
  z-index: 20;
}
.register__form {
  width: 30em;
  height: 30em;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.2em;
  align-items: center;
}
.register__input {
  padding: 0.4em 0.9em;
  font-size: 1.2em;
  width: 22em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.register__input::placeholder {
  color: #fff;
  font-family: "Exo";
}
.register__password {
  width: 11em;
}
.register__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.register__button:hover {
  transform: scale(1.1);
}

.aside {
  flex-grow: 0.17;
}

.car {
  margin: 2em 0 0 0;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1.2em;
  align-items: center;
  position: relative;
  z-index: 2;
}
.car__map {
  width: 40em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}
.car__container {
  margin: 0.5em 0 0 0;
  background: #fff;
  border-radius: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: start;
  color: #000;
  height: 6em;
}
.car__description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  height: 100%;
}
.car__product {
  display: flex;
  gap: 1em;
}
.car__p {
  width: 15em;
}
.car__img {
  width: 5em;
  height: 5em;
  object-fit: contain;
}
.car__total {
  background: #fff;
  color: #000;
  padding: 0.5em;
  position: sticky;
  top: 0;
  align-self: flex-start;
  font-weight: bold;
  border-radius: 1em;
  text-align: center;
}
.car__btn {
  align-self: end;
  margin: 0.5em 1em 0.5em 0.5em;
  background: transparent;
}
.car__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.1em 0.4em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.car__button:hover {
  transform: scale(1.1);
}

.product {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 0.6em;
  color: #232;
}
.product__btn {
  background: transparent;
}
.product__article {
  width: 20em;
  position: relative;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  align-self: center;
  justify-self: center;
}
.product__favorit {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.product__img {
  width: 15em;
  height: 18em;
  object-fit: contain;
}
.product__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.product__top {
  width: 100%;
  padding: 0 0 0 1.25em;
}
.product__name {
  width: 15em;
  height: 4em;
}
.product__bottom {
  width: 100%;
  padding: 0 0 0 1.25em;
}
.product__rating {
  color: #ffa41c;
  font-size: 1.4em;
}
.product__stock {
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.product__flex {
  display: flex;
}
.product__stock--icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
}
.product__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.product__button:hover {
  transform: scale(1.1);
}

.pagination {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em;
  margin: auto;
}
.pagination__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
}
.pagination__container {
  margin: 2em 0;
  position: relative;
  z-index: 10;
}
.pagination__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.pagination__button {
  margin: auto;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.pagination__button:hover {
  transform: scale(1.1);
}

.details {
  position: relative;
  z-index: 30;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 1em;
  padding: 2em;
  max-width: 76em;
  margin: 4em auto 0;
}
.details__portal {
  box-shadow: 0.5em 0.8em 1em #000;
  position: absolute;
  z-index: 5;
}
.details__images {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
}
.details__image {
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  border-radius: 0.5em;
}
.details__center {
  width: 30em;
  object-fit: contain;
  height: 40em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  background: #fff;
  border-radius: 2em;
  box-sizing: border-box;
}
.details__special {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  height: 100%;
}
.details__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  height: 40em;
}
.details__h2 {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0;
  align-content: center;
  position: relative;
}
.details__name {
  width: 11.8em;
  font-weight: bold;
}
.details__favorit {
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
.details__img {
  object-fit: contain;
  box-sizing: border-box;
}
.details__description {
  width: 20em;
}
.details__price {
  font-size: 2em;
}
.details__border {
  border: 2px solid #000;
}
.details__p {
  font-size: 2em;
}
.details__rating {
  color: #ffa41c;
}
.details__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  font-weight: bold;
}
.details__button:hover {
  transform: scale(1.1);
}
.details__stock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.2em;
  align-items: center;
}
.details__dis {
  font-size: 0.7em;
}
.details__count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
}
.details__span {
  font-size: 2em;
}
.details__bot {
  position: relative;
  z-index: 1;
}
.details__dpago {
  margin: 3em 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: start;
  height: 100%;
}
.details__bottom {
  padding: 2em;
  line-height: 1.5;
  font-size: 1.2em;
  width: 35em;
  height: 26em;
  background: #333;
  box-shadow: 0.1em 0.1em 0.3em 0.1em #000;
  border-radius: 0.5em;
}
.details__pago {
  margin: 2em 1em 0 0;
  line-height: 1.5;
  font-size: 1.2em;
  background: #333;
  height: 15em;
  box-shadow: 0.4em 0.2em 0.3em #000;
  border-radius: 0.5em;
}
.details__span {
  color: #fff;
  font-size: 1em;
  display: block;
  text-align: center;
  margin: 0 0 1em 0;
}
.details__map {
  width: 10em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  margin: auto;
}

.review {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.review__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.6em;
  align-items: center;
}
.review__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.review__label {
  display: inline-block;
  width: 9.5em;
}
.review__input {
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  width: 15em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.review__input::placeholder {
  color: #fff;
  font-family: "Exo";
}
.review__textarea {
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  width: 19em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  height: 10em;
  width: 29em;
}
.review__textarea::placeholder {
  color: #fff;
  font-family: "Exo";
}
.review__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.review__button:hover {
  transform: scale(1.1);
}
.review__cstar {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.review__star {
  cursor: pointer;
  color: #ffa41c;
  font-weight: bold;
}

.footer {
  background: #333;
  border-top: 2px solid #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}
.footer__li {
  list-style: none;
}
.footer__image {
  display: grid;
  grid-template-columns: repeat(3, minmax(2.5em, 1fr));
  grid-auto-rows: 2.5em;
  gap: 0.4em;
}
.footer__img {
  width: 2.5em;
}

.comentarios__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
}
.comentarios__rating {
  background: #222;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.4em 0.8em 0.3em #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
}
.comentarios__cal {
  font-size: 2em;
  font-weight: bold;
  width: 2em;
  text-align: center;
}
.comentarios__coment {
  align-self: flex-start;
}

.count__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.count__span {
  font-size: 1.5em;
  font-weight: bold;
}

.filter {
  height: 37em;
  padding: 1em 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: start;
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 1em;
  max-width: 20em;
}
.filter__input--price {
  font-size: 1.4em;
  font-weight: bold;
}
.filter__div {
  border: 2px solid white;
  flex-grow: 1;
  width: 100%;
  border-radius: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.filter__range {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.filter__price {
  font-size: 1.2em;
  font-weight: bold;
}
.filter__h3 {
  text-align: center;
  font-size: 1.5em;
}
.filter__input {
  width: 8em;
}
.filter__map {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
}
.filter__categorys {
  padding: 1em;
}
.filter__category {
  width: 9em;
  font-size: 1.3em;
  font-weight: bold;
}
.filter__marcas {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 2em;
}
.filter__check {
  width: 1.3em;
  height: 1.3em;
  border: none;
  outline: none;
}
.filter__check:checked {
  width: 1.4em;
  height: 1.4em;
}
.filter__aplique {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.filter__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.filter__button:hover {
  transform: scale(1.1);
}

.order {
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  border-radius: 1em;
  margin: 1em 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  max-width: 20em;
  width: 20em;
  height: 10em;
}
.order__h3 {
  text-align: center;
  font-size: 1.4em;
}
.order__select {
  padding: 0.5em 0.9em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  max-width: 15em;
  width: 12em;
}
.order__select:hover {
  transform: scale(1.1);
}
.order__select:hover {
  transform: scale(1);
}
.order__option {
  background: #004b23;
  padding: 0.5em 1em;
  margin: 0.3em 0 0 0;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  height: 100%;
}
.info__input {
  padding: 0.3em 0.7em;
  font-size: 1.2em;
  width: 13em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
}
.info__input::placeholder {
  color: #fff;
  font-family: "Exo";
}
.info__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.info__button:hover {
  transform: scale(1.1);
}

.payment {
  width: 100%;
  height: 100%;
}
.payment__container {
  padding: 1em;
  margin: 1em 0.5em 0 0.5em;
  background: #fff;
  border-radius: 1em;
}
.payment__div {
  margin: 1em 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.payment__button {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.payment__button:hover {
  transform: scale(1.1);
}
.payment__h3 {
  text-align: center;
}
.payment__dates {
  padding: 0.7em 0 0 2em;
}
.payment__shipping {
  font-size: 1.1em;
}
.payment__span {
  display: inline-block;
  width: 4.5em;
  font-size: 1em;
}
.payment__name {
  font-size: 1.1em;
}

.questions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.questions__h1 {
  font-family: "Roboto";
  margin: 2em 0 0 0;
}
.questions__p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1;
  padding: 0.3em 0 0 0;
  height: 0;
  opacity: 0;
  transition: 0.5s linear;
  width: 30em;
  padding: 0.3em 1em;
  background: #333;
}
.questions .v {
  height: 6em;
  opacity: 1;
}
.questions__div {
  font-family: "Roboto";
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 0.2em;
  align-content: center;
  width: 40em;
}
.questions__text {
  width: 45em;
  font-size: 1.2em;
  font-family: "Roboto";
}
.questions__h2 {
  font-weight: 500;
  padding: 0.2em;
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: #333;
}

.pc {
  position: relative;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.pc__container {
  max-width: 1200px;
  padding: 1em;
}
@media (max-width: 1000px) {
  .pc__container {
    padding: 0 0.3em;
  }
}
.pc__components {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 2em;
  align-items: start;
}
.pc__component {
  width: 6em;
  object-fit: contain;
  height: 6em;
  background: #fff;
}
.pc__brand {
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  width: 18em;
  padding: 0.5em;
  border-radius: 0.2em;
}
.pc__amd {
  background: #555;
  border-radius: 0.2em;
}
.pc__intel {
  background: #00a5b9;
  border-radius: 0.2em;
}
.pc__left {
  align-self: flex-start;
  padding: 1em 0;
  width: 18em;
  border-radius: 0.5em;
  background: #fff;
  box-shadow: 0.1em 0.1em 1em #000;
}
.pc__right {
  flex-shrink: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 1em;
  align-content: start;
  min-height: 500px;
}
.pc__mark {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  margin: 0 0 1em 0;
}
.pc__image {
  width: 8em;
  height: 2em;
  padding: 0.3em;
  cursor: pointer;
}
.pc__map {
  cursor: pointer;
  height: 9em;
  width: 20em;
  color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 1em;
  align-content: space-between;
  background: #fff;
  border-radius: 0.5em;
  position: relative;
}
.pc__des {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1em;
  align-content: space-between;
}
.pc__name {
  font-weight: 400;
  font-size: 1em;
  font-family: "Roboto";
  width: 13em;
  padding: 1em 0 0 0;
  font-weight: bold;
  justify-items: start;
  height: 5em;
}
.pc__price {
  padding: 0 0 1em 0;
  font-weight: bold;
}
.pc__h1 {
  font-family: "Roboto";
  padding: 0.2em;
  background: #444;
}
.pc__description {
  font-size: 1.1em;
  padding: 0.2em;
  height: 3.5em;
  margin: 0 0 1em 0;
  background: #444;
}
@media (max-width: 950px) {
  .pc__description {
    margin: 0 0 3em 0;
    height: 6em;
  }
}
.pc__images {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 0;
  align-items: center;
}
.pc__div {
  position: relative;
}
.pc__i {
  position: absolute;
  right: 5px;
  top: 0;
}
.pc__select {
  filter: brightness(0);
}
.pc__selec {
  border: 1px solid #000;
  border-radius: 1em;
}
.pc__img {
  width: 4.5em;
  height: 4.5em;
  object-fit: contain;
}
.pc__dates {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 0;
  align-items: center;
}
.pc__total {
  color: #000;
  padding: 0.2em;
  font-weight: bold;
  background: #eee;
  width: 9em;
  border: 1px solid #000;
}
.pc__buy {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  padding: 0.5em;
}
.pc__buy:hover {
  transform: scale(1.1);
}
.pc__informacion {
  position: absolute;
  right: 5px;
}
.pc__complete {
  height: 500px;
  background: #fff;
  color: #000;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}
.pc__ul {
  height: calc(100% - 32px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: start;
}
.pc__span {
  display: inline-block;
  width: 1.4em;
}
.pc__button {
  align-self: flex-end;
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.pc__button:hover {
  transform: scale(1.1);
}

.portal {
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.portal__div {
  width: 50em;
  height: 30em;
  background: rgba(51, 51, 51, 0.5647058824);
  border-radius: 1em;
  border: 2px solid #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
  position: relative;
}
.portal__carruzel {
  width: 20em;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  margin: auto;
}
.portal__carruzell {
  transition: 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 3em;
  align-items: center;
  transform: translateX(0em);
}
.portal__img {
  width: 20em;
  height: 20em;
  margin: 2em 0 0 0;
  object-fit: contain;
  background: #fff;
}
.portal__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  height: 3em;
  width: 10em;
}
.portal__btn {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.portal__close {
  background: transparent;
  position: absolute;
  right: 1em;
  top: 0.2em;
}

.info {
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  visibility: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.info__container {
  width: 35em;
  height: 30em;
  background: rgba(34, 34, 34, 0.3137254902);
  position: relative;
  border: 2px solid #fff;
  border-radius: 0.5em;
}
.info__i {
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
}
.info__name {
  margin: 0 2em 0;
  margin-bottom: 0;
  padding: 0 2em;
  cursor: pointer;
  background: #222;
}
.info__acordeon {
  margin: 2em 0 0 0;
}
.info__description {
  padding: 0 1em;
  height: 0;
  margin: 0.2em 2.5em;
  transition: 0.2s linear;
  background: #222;
  overflow: auto;
}
.info .x {
  height: 14em;
}
.comentarios__h2 {
  margin: 0 0 1em 0;
  padding: 0.3em;
}
.comentarios__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 1em;
  align-content: start;
}
.comentarios__star {
  align-self: start;
}
.comentarios__coment {
  background: #fff;
  flex-grow: 1;
  background: #232323;
  padding: 1em 2em;
  box-shadow: -0.2em -0.2em 0.3em #000;
}
.comentarios__select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.4em;
  align-items: center;
  margin: 0 0 2em 0;
  border-radius: 0.5em;
}
.comentarios__slct {
  background: linear-gradient(45deg, #ccff33 0%, #38b000 70%, #004b23 100%);
  padding: 0.3em;
  border-radius: 0.2em;
}
.comentarios__h3 {
  font-weight: 500;
  color: #ffa41c;
  font-size: 1.5em;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
