@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;500;800&family=IBM+Plex+Mono:wght@100;300&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232323;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

select {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}

input,
textarea {
  border: none;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.2em;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.links {
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #fff;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.errors {
  color: #ff0000;
  font-weight: bold;
}

.loader {
  width: 100vw;
  height: calc(100vh - 5.5em);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.loader__container {
  width: 20em;
  height: 20em;
  background: #ebebeb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2em;
  align-items: center;
  color: #000;
  font-size: 1.2em;
  border-radius: 0.5em;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 200;
}

.stripe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  backdrop-filter: blur(1em);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  z-index: 1001;
}
.stripe__div {
  position: relative;
  width: 18em;
  height: 18em;
  background: #fff;
  color: #004b23;
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.stripe__p {
  padding: 1.5em;
  width: 100%;
  font-weight: bold;
}
.stripe__span {
  display: inline-block;
  align-self: flex-end;
  margin: 0 3em 1.5em 0;
  font-weight: bold;
}
.stripe__img {
  width: 5em;
  height: 5em;
}

.spinner {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 1em solid #fff;
  border-bottom-color: #000;
  animation: spinner infinite 2s linear;
}

.btn-top {
  position: fixed;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  opacity: 1;
  transition: 0.5s ease;
  background: transparent;
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  padding: 0.4em;
}
.btn-top:hover {
  transform: scale(1.1);
}

.close {
  opacity: 0;
}

.body {
  overflow: hidden;
}

.home__carruzel {
  display: flex;
  color: #000;
  width: 100%;
  transform: translateX(0);
  gap: 1.2em;
  transition: 0.5s linear;
}
.home__cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
  width: 59em;
  margin: auto;
  box-shadow: inset 0.5em 0.5em 1em #fff;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.home__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.home__button {
  position: relative;
  z-index: 5;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background: rgba(255, 255, 255, 0.5647058824);
}
.home__select {
  background: #fff;
}
.home__main {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 0.4em;
  align-content: center;
  position: relative;
}
.home__products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.home__pages {
  flex-grow: 1;
}

.aside {
  height: 40em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  position: sticky;
  background: #000;
  padding: 1em 0;
  top: 6em;
}
.filter {
  height: 45em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  background: #000;
  color: #fff;
  max-width: 20em;
}
.filter__input--price {
  font-size: 1.4em;
}
.filter__div {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 1em;
}
.filter__range {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.filter__price {
  font-size: 1.2em;
}
.filter__h3 {
  text-align: center;
  font-size: 1.5em;
}
.filter__input {
  width: 8em;
}
.filter__map {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
}
.filter__categorys {
  padding: 1em;
  height: 20em;
  overflow: auto;
}
.filter__category {
  width: 9em;
  font-size: 1.3em;
}
.filter__marcas {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 2em;
}
.filter__check {
  width: 1.3em;
  height: 1.3em;
  border: none;
  outline: none;
}
.filter__check:checked {
  width: 1.4em;
  height: 1.4em;
}
.filter__aplique {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.filter__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  background: #fff;
  color: #000;
  border-radius: 0;
}
.filter__button:hover {
  transform: scale(1.1);
}

.order {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  max-width: 20em;
  width: 20em;
  height: 3em;
  position: relative;
}
.order__container {
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 1em;
  width: 85%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  padding: 0 0.5em;
  position: relative;
  z-index: 20;
}
.order__div {
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: start;
  width: 85%;
  position: absolute;
  top: 3em;
  opacity: 0;
  background: #333;
  visibility: hidden;
  transform: translateY(-15em);
  transition: 0.5s linear;
  z-index: 10;
}
.order__order {
  width: 100%;
  padding: 0 1em;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.order__img {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.order__toggle {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#tsparticles {
  position: absolute;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 200;
}
.modal__container {
  width: 20em;
  height: 20em;
  background: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.modal__close {
  align-self: flex-end;
  padding: 0 1.6em;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.9em;
  align-items: center;
}
.modal__login {
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  width: 15em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;
  border-radius: 0;
}
.modal__login::placeholder {
  color: #000;
  font-family: "Exo";
}
.modal__acount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}
.modal__link {
  font-size: 1.1em;
  transition: 0.5s ease;
  padding: 0.4em 0;
}
.modal__link:hover {
  text-decoration: 2px #004b23 underline;
}
.modal__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 0;
}
.modal__button:hover {
  transform: scale(1.1);
}

.header {
  padding: 1em 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  border-bottom: 2px solid #fff;
  height: 5.5em;
  position: sticky;
  z-index: 1000;
  top: 0;
  background: #333;
  overflow: hidden;
}
.header__search {
  padding: 0.5em 0.9em;
  font-size: 1.2em;
  width: 20em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;
}
.header__search::placeholder {
  color: #000;
  font-family: "Exo";
}
.header__search::placeholder {
  color: #000;
}
.header__logo--img {
  width: 6em;
  height: 6em;
  align-self: center;
}
.header__hover {
  position: relative;
  cursor: pointer;
}
.header__carl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 0;
  align-items: end;
  padding: 0 0.8em;
  font-size: 1em;
  color: #000;
  font-weight: bold;
}
.header__hover:hover .header__ul {
  opacity: 1;
  visibility: visible;
}
.header__henry {
  margin: 0.7em 0 0 0;
  font-size: 2.2em;
  align-self: center;
}
.header__options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}
.header__login {
  background: #000;
  padding: 0.3em 0.4em;
  border: 0.1em solid #fff;
  cursor: pointer;
  color: #fff;
}
.header__length {
  display: inline-block;
  background: #fff;
  padding: 0.1em 0.6em;
  border-radius: 50%;
  color: #02acab;
  font-weight: bold;
}
.header__i {
  position: relative;
  transition: 0.5s ease;
}
.header__i:hover .header__session {
  opacity: 1;
  visibility: visible;
}
.header__session {
  position: absolute;
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  left: -1.5em;
  opacity: 0;
  visibility: hidden;
}
.header__session:hover {
  transform: scale(1.1);
}
.header__translate {
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  background: #fff;
  height: 100vh;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0;
  align-items: start;
}
.header__top {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  color: #000;
  height: 3em;
  padding: 0 1em;
  border-bottom: 1px solid #ebebeb;
  font-weight: bold;
}
.header__btn {
  background: transparent;
}
.header__center {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
.header__bottom {
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: start;
  width: 100%;
  padding: 0.6em 1em;
}
.header__total {
  color: #000;
  font-weight: bold;
  padding: 0.2em;
}
.header__item {
  background: #000;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}
.header__image {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  height: 100%;
  text-align: center;
}
.header__img {
  width: 17em;
  height: 17em;
}
.header__span {
  color: #000;
  font-weight: bold;
}
.header__drop {
  cursor: pointer;
  width: 1.6em;
  height: 1.6em;
}
.header__dropitem {
  width: 100%;
  color: #000;
  transition: 0.5s linear;
}

.carruzel {
  display: flex;
  transition: 0.5s ease;
  transform: translateX(0);
  margin: 0 0 3em 0;
}
.carruzel__div {
  position: relative;
}
.carruzel__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.carruzel__button:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
}
.carruzel__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  font-size: 2.3em;
  border: 2px solid #fff;
  border-radius: 0 50% 50% 0;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Exo";
}
.carruzel__btn2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  border-radius: 50% 0 0 50%;
  font-size: 2.3em;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Exo";
}
.carruzel__img {
  width: 100vw;
}

.register {
  height: calc(100vh - 7.5em);
}
.register__container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  position: relative;
  z-index: 20;
}
.register__form {
  width: 30em;
  height: 30em;
  background: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.4em;
  align-items: center;
}
.register__input {
  padding: 0.4em 0.9em;
  font-size: 1.2em;
  width: 22em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;
  border-radius: 0;
}
.register__input::placeholder {
  color: #000;
  font-family: "Exo";
}
.register__password {
  width: 11em;
}
.register__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  background: #fff;
  color: #000;
  border-radius: 0;
}
.register__button:hover {
  transform: scale(1.1);
}
.register__dos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.1em;
  align-items: center;
}
.register__span {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -20px;
  color: red;
  font-size: 1.045em;
}
.register__validate {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}

.car {
  margin: 2em 0 0 0;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1.2em;
  align-items: center;
  position: relative;
  z-index: 2;
}
.car__map {
  width: 40em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}
.car__container {
  margin: 0.5em 0 0 0;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: start;
  color: #000;
  height: 6em;
  margin: 0.5em 0.4em;
  border: 1px solid #ebebeb;
  width: 100%;
}
.car__description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  height: 100%;
}
.car__product {
  display: flex;
  gap: 1em;
}
.car__p {
  width: 15em;
}
.car__img {
  width: 5em;
  height: 5em;
  object-fit: contain;
}
.car__total {
  background: #fff;
  color: #000;
  padding: 0.5em;
  position: sticky;
  top: 0;
  align-self: flex-start;
  font-weight: bold;
  border-radius: 1em;
  text-align: center;
}
.car__btn {
  align-self: end;
  margin: 0.5em 1em 0.5em 0.5em;
  background: transparent;
}
.car__count {
  font-weight: bold;
}
.car__button {
  background: #000;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.car__button:hover {
  transform: scale(1.1);
}

.product {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 0.6em;
  color: #232;
}
.product__btn {
  background: transparent;
}
.product__article {
  width: 20em;
  position: relative;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  align-self: center;
  justify-self: center;
}
.product__favorit {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.product__img {
  width: 15em;
  height: 18em;
  object-fit: contain;
}
.product__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.product__top {
  width: 100%;
  padding: 0 0 0 1.25em;
}
.product__name {
  width: 15em;
  height: 4em;
}
.product__bottom {
  width: 100%;
  padding: 0 0 0 1.25em;
}
.product__rating {
  color: #ffa41c;
  font-size: 1.4em;
}
.product__stock {
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.product__flex {
  display: flex;
}
.product__stock--icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
}
.product__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.product__button:hover {
  transform: scale(1.1);
}

.pagination {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em;
  margin: auto;
}
.pagination__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
}
.pagination__container {
  margin: 2em 0;
  position: relative;
  z-index: 10;
}
.pagination__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.pagination__button {
  margin: auto;
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.pagination__button:hover {
  transform: scale(1.1);
}

.details {
  position: relative;
  z-index: 30;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  background: #333;
  border-radius: 1em;
  padding: 2em;
  color: #fff;
  max-width: 76em;
  margin: 4em auto 0;
}
.details__mar {
  margin: 0 0 2em 0;
}
.details__portal {
  box-shadow: 0.5em 0.8em 1em #000;
  position: absolute;
  z-index: 5;
}
.details__images {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
}
.details__image {
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  border-radius: 0.5em;
}
.details__center {
  width: 30em;
  object-fit: contain;
  height: 40em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  background: #fff;
  border-radius: 2em;
  box-sizing: border-box;
}
.details__special {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  height: 10em;
}
.details__special img {
  object-fit: contain;
}
.details__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  height: 40em;
}
.details__h2 {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0;
  align-content: center;
  position: relative;
}
.details__name {
  width: 100%;
  font-weight: bold;
}
.details__favorit {
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
.details__img {
  object-fit: contain;
  box-sizing: border-box;
}
.details__description {
  width: 30em;
  overflow: auto;
}
.details__price {
  font-size: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.4em;
  align-items: center;
}
.details__border {
  border: 2px solid #ffa41c;
}
.details__p {
  font-size: 2em;
}
.details__rating {
  color: #ffa41c;
}
.details__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  font-weight: bold;
}
.details__button:hover {
  transform: scale(1.1);
}
.details__centerx {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: start;
}
.details__send {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.4em;
  align-items: center;
}
.details__stock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.2em;
  align-items: center;
}
.details__dis {
  font-size: 0.7em;
}
.details__count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.details__span {
  font-size: 2em;
}
.details__bot {
  position: relative;
  z-index: 1;
}
.details__dpago {
  margin: 3em 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: start;
  height: 100%;
}
.details__bottom {
  padding: 2em;
  line-height: 1.5;
  font-size: 1.2em;
  height: 26em;
  background: #333;
  box-shadow: 0.1em 0.1em 0.3em 0.1em #000;
  border-radius: 0.5em;
  width: 50em;
  overflow: auto;
}
.details__pago {
  line-height: 1.5;
  font-size: 1.2em;
  background: #333;
  height: 15em;
  box-shadow: 0.4em 0.2em 0.3em #000;
  border-radius: 0.5em;
}
.details__span {
  color: #fff;
  font-size: 1em;
  display: block;
  text-align: center;
  margin: 0 0 1em 0;
}
.details__map {
  width: 10em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  margin: auto;
}

.review {
  width: 100%;
  margin: 2em 0 0 0;
  border-top: 1px solid #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.review__form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0em;
  align-items: start;
}
.review__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.review__label {
  display: inline-block;
  width: 9.5em;
}
.review__input {
  width: 100%;
  background: transparent;
  font-size: 1em;
}
.review__input::placeholder {
  color: #000;
}
.review__textarea {
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  width: 19em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;
  height: 10em;
  width: 29em;
}
.review__textarea::placeholder {
  color: #000;
  font-family: "Exo";
}
.review__button {
  background: transparent;
}
.review__cstar {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.review__msg {
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  width: 15em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;
  width: 100%;
  padding: 0 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  margin: 0 0 1em 0;
  height: 1.8em;
}
.review__msg::placeholder {
  color: #000;
  font-family: "Exo";
}
.review__star {
  cursor: pointer;
  color: #ffa41c;
  font-weight: bold;
}

.footer {
  background: #333;
  border-top: 2px solid #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}
.footer__li {
  list-style: none;
}
.footer__image {
  display: grid;
  grid-template-columns: repeat(3, minmax(2.5em, 1fr));
  grid-auto-rows: 2.5em;
  gap: 0.4em;
}
.footer__img {
  width: 2.5em;
}

.comentarios {
  margin: 2em 0 2em 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
}
.comentarios__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
  max-width: 1250px;
}
.comentarios__rating {
  background: #222;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.1em #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.3em;
  align-items: center;
}
.comentarios__cal {
  font-size: 2em;
  font-weight: bold;
  width: 2em;
  text-align: center;
}
.comentarios__coment {
  align-self: flex-start;
}
.comentarios__h2 {
  margin: 0 0 1em 0;
  padding: 0.3em;
}
.comentarios__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 1em;
  align-content: start;
}
.comentarios__star {
  align-self: start;
}
.comentarios__coment {
  background: #fff;
  background: #232323;
  padding: 1em 2em;
  box-shadow: 0.1em 0.1em 0.2em #000, -0.1em -0.1em 0.2em #000;
  width: 80vw;
}
.comentarios__select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.4em;
  align-items: center;
  margin: 0 0 2em 0;
  border-radius: 0.5em;
}
.comentarios__slct {
  background: linear-gradient(45deg, #81e3e2 0%, #02acab 70%, #027372 100%);
  padding: 0.3em;
  border-radius: 0.2em;
}
.comentarios__h3 {
  font-weight: 500;
  color: #ffa41c;
  font-size: 1.5em;
}
.count__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.count__span {
  font-size: 1.5em;
  font-weight: bold;
}

.infop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  height: 100%;
}
.infop__input {
  padding: 0.3em 0.7em;
  font-size: 1.2em;
  width: 13em;
  border: 2px solid #fff;
  color: #333333;
  border-radius: 1em;
  background: #fff;
}
.infop__input::placeholder {
  color: #000;
  font-family: "Exo";
}
.infop__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.infop__button:hover {
  transform: scale(1.1);
}

.payment {
  width: 100%;
  height: 100%;
}
.payment__container {
  padding: 1em;
  margin: 1em 0.5em 0 0.5em;
  background: #fff;
  border-radius: 1em;
}
.payment__div {
  margin: 1em 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.payment__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.payment__button:hover {
  transform: scale(1.1);
}
.payment__h3 {
  text-align: center;
}
.payment__dates {
  padding: 0.7em 0 0 2em;
}
.payment__shipping {
  font-size: 1.1em;
}
.payment__span {
  display: inline-block;
  width: 4.5em;
  font-size: 1em;
}
.payment__name {
  font-size: 1.1em;
}

.questions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.questions__h1 {
  font-family: "Roboto";
  margin: 2em 0 0 0;
}
.questions__p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1;
  padding: 0.3em 0 0 0;
  height: 0;
  opacity: 0;
  transition: 0.5s linear;
  width: 30em;
  padding: 0.3em 1em;
  background: #333;
}
.questions .v {
  height: 6em;
  opacity: 1;
}
.questions__div {
  font-family: "Roboto";
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 0.2em;
  align-content: center;
  width: 40em;
}
.questions__text {
  width: 45em;
  font-size: 1.2em;
  font-family: "Roboto";
}
.questions__h2 {
  font-weight: 500;
  padding: 0.2em;
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: #333;
}

.pc {
  position: relative;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
}
.pc__container {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}
@media (max-width: 1000px) {
  .pc__container {
    padding: 0 0.3em;
  }
}
.pc__components {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 2em;
  align-items: start;
}
.pc__component {
  width: 6em;
  object-fit: contain;
  height: 6em;
  background: #fff;
}
.pc__brand {
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  width: 18em;
  padding: 0.5em;
  border-radius: 0.2em;
}
.pc__amd {
  background: #555;
  border-radius: 0.2em;
}
.pc__intel {
  background: #00a5b9;
  border-radius: 0.2em;
}
.pc__left {
  align-self: flex-start;
  padding: 1em 0;
  border-radius: 0.5em;
  background: #fff;
  box-shadow: 0.1em 0.1em 1em #000;
  width: 30em;
  max-width: 346px;
}
.pc__right {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 1em;
  align-content: start;
  min-height: 500px;
}
.pc__mark {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  margin: 0 0 1em 0;
}
.pc__image {
  width: 8em;
  height: 2em;
  padding: 0.3em;
  cursor: pointer;
}
.pc__map {
  cursor: pointer;
  height: 9em;
  width: 20em;
  color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 1em;
  align-content: space-between;
  background: #fff;
  border-radius: 0.5em;
  position: relative;
}
.pc__des {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1em;
  align-content: space-between;
}
.pc__name {
  font-weight: 400;
  font-size: 1em;
  font-family: "Roboto";
  width: 13em;
  padding: 1em 0 0 0;
  font-weight: bold;
  justify-items: start;
  height: 5em;
}
.pc__price {
  padding: 0 0 1em 0;
  font-weight: bold;
}
.pc__h1 {
  font-family: "Roboto";
  padding: 0.2em;
  background: #fff;
  color: #000;
  font-family: "Roboto";
}
.pc__description {
  font-size: 1.1em;
  padding: 0.2em;
  height: 3.5em;
  margin: 0 0 1em 0;
  background: #fff;
  color: #000;
  font-family: "Roboto";
}
@media (max-width: 950px) {
  .pc__description {
    margin: 0 0 3em 0;
    height: 6em;
  }
}
.pc__images {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 0;
  align-items: center;
}
.pc__div {
  position: relative;
}
.pc__i {
  position: absolute;
  right: 5px;
  top: 0;
}
.pc__select {
  filter: brightness(0);
}
.pc__selec {
  border: 1px solid #000;
  border-radius: 1em;
}
.pc__img {
  width: 4.5em;
  height: 4.5em;
  object-fit: contain;
}
.pc__dates {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 0;
  align-items: center;
}
.pc__total {
  padding: 0.2em;
  font-weight: bold;
  width: 12em;
  background: #000;
  color: #fff;
}
.pc__buy {
  background: linear-gradient(to right, #7eda55 0%, #32ba7c 70%, #32ba7c 100%);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  padding: 0.5em;
  background: #000;
  color: #fff;
}
.pc__buy:hover {
  transform: scale(1.1);
}
.pc__informacion {
  position: absolute;
  right: 5px;
}
.pc__complete {
  height: 500px;
  background: #fff;
  color: #000;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}
.pc__ul {
  height: calc(100% - 32px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: start;
}
.pc__span {
  display: inline-block;
  width: 1.4em;
}
.pc__button {
  align-self: flex-end;
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.pc__button:hover {
  transform: scale(1.1);
}
.pc__columnx {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: start;
  max-width: 790px;
  flex-grow: 1;
}
.pc__periferico {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5em;
  align-items: start;
  margin: 0 0 1em 0;
}
.pc__btnn {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.pc__btnn:hover {
  transform: scale(1.1);
}

.portal {
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.portal__div {
  width: 50em;
  height: 30em;
  background: rgba(51, 51, 51, 0.5647058824);
  border-radius: 1em;
  border: 2px solid #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
  position: relative;
}
.portal__carruzel {
  width: 20em;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  margin: auto;
}
.portal__carruzell {
  transition: 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 3em;
  align-items: center;
  transform: translateX(0em);
}
.portal__img {
  width: 20em;
  height: 20em;
  margin: 2em 0 0 0;
  object-fit: contain;
  background: #fff;
}
.portal__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  height: 3em;
  width: 10em;
}
.portal__btn {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.portal__close {
  background: transparent;
  position: absolute;
  right: 1em;
  top: 0.2em;
}
.portal__button {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.portal__button:hover {
  transform: scale(1.1);
}

.info {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  visibility: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.info__container {
  width: 35em;
  height: 30em;
  background: rgba(34, 34, 34, 0.3137254902);
  position: relative;
  border: 2px solid #fff;
  border-radius: 0.5em;
}
.info__i {
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
}
.info__name {
  margin: 0 2em 0;
  margin-bottom: 0;
  padding: 0 2em;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
}
.info__flex {
  background: #fff;
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 0;
  align-items: center;
}
.info__drop {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.info__acordeon {
  margin: 2em 0 0 0;
}
.info__description {
  padding: 0 1em;
  height: 0;
  margin: 0.2em 2.5em;
  transition: 0.2s linear;
  background: #222;
  overflow: auto;
}
.info .x {
  height: 14em;
}
.informacion__close {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 0;
  align-items: end;
  cursor: pointer;
  padding: 0.5em;
}
.informacion__name {
  padding: 0 0 0 1em;
}
.informacion__image {
  padding: 0 0 0 1em;
}
.informacion__flex {
  margin: 2em 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: start;
  width: 100%;
}
.informacion__img {
  width: 12em;
  height: 16em;
}
.informacion__div {
  font-size: 1.1em;
  width: 15em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}
.informacion__span {
  display: inline-block;
  width: 5em;
}
.informacion__edit {
  background: transparent;
  color: #fff;
  font-size: 1em;
  font-family: "Exo";
}
.informacion__info {
  padding: 0 0 0 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
}
.informacion__divs {
  padding: 0 0 0 1em;
}
.informacion__input {
  background: transparent;
  width: 110px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Exo";
  font-size: 1em;
}
.informacion__update {
  margin: 2em 0 0 0;
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  background: #fff;
  color: #000;
}
.informacion__update:hover {
  transform: scale(1.1);
}

.espera {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0;
  align-content: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1em);
  z-index: 1001;
}
.espera__div {
  width: 15em;
  height: 15em;
  background: #fff;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  border-radius: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0;
  align-content: center;
}

.drop {
  width: 10em;
  height: 1.6em;
  background: #fff;
  padding: 0.1em 0.3em;
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}
.drop__select {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 0;
  align-items: start;
}
.drop__review {
  align-self: center;
}
.drop__image {
  width: 1.5em;
  height: 1.5em;
  align-self: center;
  cursor: pointer;
}
.drop__map {
  background: #000;
  padding: 0 0.3em;
  width: 10em;
  position: absolute;
  top: 1.6em;
}
.drop__star {
  font-size: 1.2em;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  color: #ffa41c;
}

.acount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 2em;
  align-items: start;
  height: 80vh;
}
.acount__drop {
  position: relative;
  width: 20em;
  height: 90vh;
}
.acount__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  flex-grow: 1;
}
.acount__left {
  background: #333;
  position: relative;
  z-index: 300;
  width: 20em;
  padding: 2em 1em 0;
  height: 80vh;
  flex-grow: 1;
  position: fixed;
  top: 5.5em;
}
.acount__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: start;
  width: 18em;
  padding: 0.5em 0;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.acount__image {
  width: 1.5em;
  height: 1.5em;
}
.acount__right {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: start;
  max-width: 1000px;
  color: #000;
  flex-shrink: 1.5;
  flex-grow: 1;
}
.acount__favorites {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: center;
  width: 100%;
  color: #000;
  flex-shrink: 1.5;
  margin: 2em 0 0 0;
  position: relative;
  z-index: 300;
}
.acount__add {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 4em;
  align-items: center;
}
.acount__text {
  font-size: 1.5em;
}

.update {
  padding: 2em;
  color: #fff;
  position: relative;
  z-index: 300;
  align-self: flex-start;
  width: 75vw;
  background: #333;
  flex-grow: 1.5;
}
.update__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: start;
  width: 100%;
  padding: 0.5em 0;
}
.update__label {
  width: 10em;
}
.update__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5em;
  align-items: start;
}
.update__input {
  width: 21em;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1em;
}
.update__pass {
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  width: 9.5em;
  margin: 0 0.5em 0 0;
}
.update__btn {
  color: #fff;
  background: transparent;
  padding: 0.2em;
  font-size: 1.1em;
  font-family: "Roboto";
}
.update__btn:hover {
  background: #000;
  color: #fff;
}
.update__submit {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  background: #000;
  color: #fff;
}
.update__submit:hover {
  transform: scale(1.1);
}
.update__error {
  color: #ff0000;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home__image-gif {
  width: 15em;
  height: 15em;
}

.admin {
  max-width: 1250px;
  margin: 3em auto 0;
}
.admin__links {
  margin: 1em auto 0;
  position: relative;
  z-index: 300;
  max-width: 800px;
  background: #333;
  padding: 1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 300px);
  gap: 1em;
  position: relative;
  z-index: 300;
}
.dashboard__graph {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #ebebeb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.dashboard__total {
  grid-column: 3/4;
  grid-row: 1/2;
  background: #333;
}

.enlaces {
  margin-bottom: 1em;
  position: relative;
  z-index: 300;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.enlaces__item {
  width: 200px;
  background: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding: 0 2em;
  flex-grow: 1;
  cursor: pointer;
  transition: 0.5s ease;
}
.enlaces__item:hover {
  transform: scale(1.1);
  box-shadow: 0.1em 0.1em 0.2em #fff, -0.1em -0.1em 0.2em #fff;
}
.enlaces__img {
  width: 5em;
  height: 5em;
}

.dashp {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  position: relative;
  z-index: 300;
  width: 100vw;
  margin: 2em 0 0 0;
}
.dashp__aux {
  width: 100vw;
  max-width: 1400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 0;
  align-items: end;
}
.dashp__flex {
  display: grid;
  width: 100vw;
  max-width: 1400px;
  margin: 0;
  background: #333;
  grid-template-columns: 1fr 0.8fr 5fr 1fr 0.5fr 0.2fr;
  border: 1px solid #fff;
  padding: 0.5em 0;
}
.dashp__suspense {
  filter: grayscale(1);
}
.dashp__btn {
  background: transparent;
  font-size: 1em;
  color: #fff;
}
.dashp__number {
  width: 2em;
}
.dashp__id {
  place-self: center;
  padding: 0 0 0 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.dashp__image {
  place-self: center;
}
.dashp__img {
  width: 2.5em;
  height: 2.5em;
}
.dashp__name {
  justify-self: start;
  align-self: center;
}
.dashp__ofer {
  place-self: center;
}
.dashp__button {
  place-self: center;
  padding: 0 0.5em 0 0;
}
.dashp__add {
  border-radius: 50%;
}
.dashp__add--img {
  width: 3em;
  height: 3em;
  align-self: end;
  cursor: pointer;
  margin: 0 2em 2em;
}
.dashp__btn {
  align-self: center;
  justify-self: center;
  background: transparent;
  color: #fff;
  font-family: "Exo";
}
.dashp__delete {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  background: transparent;
}
.dashp__dlt {
  fill: #fff;
  background: transparent;
  justify-self: center;
}

.post__container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  backdrop-filter: blur(1em);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.post__contain {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: start;
}
.post__div--x {
  width: 5em;
}
.post__alldiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: start;
}
.post__flexx {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0.5em;
  align-items: start;
}
.post__mid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.post__allimages {
  width: 4em;
  height: 4em;
}
.post__carruzel {
  width: 30em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: start;
  overflow: hidden;
}
.post__carruzell {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 0;
  align-items: start;
  transition: 0.5s ease;
}
.post__view {
  width: 30em;
  height: 32em;
  background: rgba(34, 34, 34, 0.3137254902);
  border: 1px solid #fff;
}
.post__form {
  width: 30em;
  background: rgba(34, 34, 34, 0.3137254902);
  border: 1px solid #fff;
  border-radius: 0.4em;
  padding: 0 0 0 1em;
  height: 32em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}
.post__aux {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  gap: 0;
  align-items: end;
  padding: 1em 2em 0 0;
}
.post__close {
  cursor: pointer;
}
.post__div {
  width: 19.7em;
}
.post__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
}
.post__check {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
}
.post__input {
  background: #000;
  border: 1px solid #fff;
  width: 18em;
  height: 2em;
  font-size: 1.1em;
  font-family: "Roboto";
  padding: 0.2em 0.5em;
  color: #fff;
}
.post__textarea {
  width: 18em;
  min-height: 6em;
  color: #fff;
}
.post__files {
  position: relative;
  width: 8.5em;
  overflow: hidden;
}
.post__span {
  cursor: pointer;
  display: inline-block;
  width: 8.5em;
  position: relative;
  background: #000;
  border: 1px solid #fff;
  z-index: 1;
  font-family: "Roboto";
  padding: 0.2em;
}
.post__ofert {
  background: #000;
  border: 1px solid #fff;
  font-family: "Roboto";
  padding: 0.2em;
}
.post__names {
  padding: 1em 0 1em 2em;
}
.post__file {
  position: absolute;
  left: 0;
  z-index: 3;
  opacity: 0;
}
.post__button {
  padding: 0 0 0 2em;
}
.post__btn {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
  background: #000;
  color: #fff;
}
.post__btn:hover {
  transform: scale(1.1);
}
.post__img {
  width: 16em;
  height: 18em;
}

.response {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  backdrop-filter: blur(1em);
  transition: 0.5s linear;
  z-index: 200;
}
.response__container {
  background: #ebebeb;
  width: 25em;
  height: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  align-items: center;
  border-radius: 0.5em;
  border: 1px solid #004b23;
}
.response__response {
  font-size: 1.5em;
  color: #004b23;
  text-align: center;
  font-weight: bold;
}
.response__div {
  width: 6em;
  height: 6em;
  overflow: hidden;
  border-radius: 50%;
}
.response__image {
  width: 100%;
  height: 100%;
}
.response__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}
.response__btn {
  background: #000;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Exo";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  transition: 0.5s linear;
}
.response__btn:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
